.main_menu {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}


.home_page {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}

.portfolio_page {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}
.create_content_page {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}
.manage_content_page {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}
.about_page {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}

.posts_page_nav {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}

.posts_page {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}

.posts {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}

.article_page {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}

.post {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}


.miscs_page {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}

.contact_page {
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}
