
{% extends "base.html" %}

{% block content %}


		<h1>Add article:</h1>
	      <form  action="" method="post" role="form">
	        {{ AAF.csrf }}
	        <div class="form-group">
	          <style> 
				  textarea {
				  width: 100%;
				  height: 200px;
				  padding: 12px 20px;
				  box-sizing: border-box;
				  border: 2px solid #ccc;
				  border-radius: 4px;
				  background-color: #f8f8f8;
				  font-size: 16px;
				  resize: none;
				  }
			  </style>
			  <p>{{ AAF.content_type }}</p>
	          <p>
	          <input type="text" class="form-control" id="title" name="title" placeholder="title">
	          <input type="text" class="form-control" id="category" name="category" placeholder="category">
	          <input type="text" class="form-control" id="tags" name="tags" placeholder="tags">
	          
			  </p>

	          <p>
	          <textarea name="article" class="form-control" id="article" placeholder="article"></textarea>
	      	  </p>

	          <p>
	          <input type="text" class="form-control" id="login" name="login" placeholder="login">
	          <input type="text" class="form-control" id="password" name="password" placeholder="password">
	          </p>
	          <p>
	          	<input type="submit" name="art_submit_button" value="Add article.">
	          </p>
	        </div>
	        
		  </form>

	      {% with messages = get_flashed_messages(with_categories=true) %}
	          {% if messages %}
	              <br>
	              <p> </p>
	              {% for message in messages %}
	                  <div class="alert alert-info">
	                  <strong>Done: </strong> {{ message[1] }}
	                  </div>
	              {% endfor %}
	          {% endif %}
	      {% endwith %}
		



{% endblock %}
