<html>
    <head>
        <title>Lukasz Pintal - Portfolio Page</title>
        <link rel="stylesheet" href='/static/style.css' />
    </head>

    <body>
        <div class='main_menu'>
            <a href="/">Home</a>
	        <a href="/about">About</a>
            <a href="/portfolio">Portfolio</a>
            <a href="/blog">Blog</a>
            <a href="/miscs">Miscs</a>
            <a href="/contact">Contact</a> 
             | 
            <a href="/create">create</a>
            <a href="/manage">manage</a>
        </div>
    {% block content %}{% endblock %}
    </body>
</html>

